In [1]:
name = "aayus"
age= 21
salary = 10000
print(name,age,salary)

aayus 21 10000

In [2]:
is_open = True
print(is_open)
type(is_open)

True

bool

In [3]:
city = "mumbai"
population = 100000
is_capital = True
latitude = 19.0760
print('the city is {} and its population is {} and its capital is {} and its latitude is {}'.format(city,population,is_capital,latitude))

the city is mumbai and its population is 100000 and its capital is True and its latitude is 19.076

In [6]:
per = input("enter your marks")

if(int(per)>=90):
    print(f"{per} your grade is A")
elif(int(per)>=80):
    print(f"{per} your grade is B")
elif(int(per)>=70):
    print(f"{per} your grade is C")
elif(int(per)>=60):
    print(f"{per} your grade is D")
else:
    print(f"{per} your grade is E")

40 your grade is E

In [7]:
my_list = [city,population,is_capital,latitude]

for i in my_list:
    print(i)

mumbai
100000
True
19.076

In [8]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
cubes = [x**3 for x in range(1, 11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [12]:
for i in range(1,11):
    if(i%2==0):
        print(i)

2
4
6
8
10

In [14]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [15]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [18]:
squares = [x**2 for x in range(10, 16)]
print(squares)

[100, 121, 144, 169, 196, 225]

In [22]:
square = [10, 11, 12, 13, 14, 15]

for i in square:
    print(f'The square of {i} is {i**2}')

The square of 10 is 100
The square of 11 is 121
The square of 12 is 144
The square of 13 is 169
The square of 14 is 196
The square of 15 is 225

In [26]:
def greet(name):
    print(f'hello {name}')
    print('welcome to our ml training lab')

greet('aayus')

hello aayus
welcome to our ml training lab

In [27]:
def add(num1, num2):
    return num1 + num2

result = add(10, 20)
print(result)

30

In [29]:
def fact(num):
    if num == 1:
        return 1
    else:
        return num * fact(num-1)

print(fact(5))

120

In [31]:
def fact (num):
    for i in range(1,num):
        num *= i
    return num

print(fact(5))
print(fact(10))

120
3628800

In [41]:
def greet(name,ag=21):
    if(ag>=18):
        print(f'hello elder bro {name}')
    else:
        print(f'hello kid bro {name}')

greet('aayus',21)
greet('aayus',17)
greet('aayus',10)
greet('aayus')
greet(ag=10,name=('aayus'))

hello elder bro aayus
hello kid bro aayus
hello kid bro aayus
hello elder bro aayus
hello kid bro aayus

In [43]:
my_list = [10, 11, 12, 13, 14, 15]
my_list.append(16)
my_list.insert(3, 20)
print(my_list)
print(my_list[0])

[10, 11, 12, 20, 13, 14, 15, 16]
10

In [44]:
new_list = my_list[0:3]
print(new_list)

[10, 11, 12]

In [10]:
cities = ['biratnagar','dharan','letang','pathri','pokhara','ktm']
print(cities[1])

subset=cities[1:4]
print(subset)

subset=cities[1::2]
print(subset)

subset=cities[:4]
print(subset)

dharan
['dharan', 'letang', 'pathri']
['dharan', 'pathri', 'ktm']
['biratnagar', 'dharan', 'letang', 'pathri']